
<div id="division">
    <div class = row id="main_div">
        <div class="col-sm-2">
            <div class="text-center">
                <b>remote</b>
            </div>
        </div>
            <div id="div_tag" class="col-sm-10">
            <ul id="ul_tag">
                <div class="dropdown" >
                    <li class="col-sm-2">
                        <button id="button" class="dropdown">How it Works</button>
                        <div class="dropdown-content">
                            <div>
                                 <table id="table1">
                                     <tr id="table_row">
                                         <th>Solutions</th>
                                         <th>Services</th>
                                     </tr>
                                     <tr id="table_row">
                                         <td>Hire Employees</td>
                                         <td>Employer of Record(EOR)</td>
                                     </tr>
                                     <tr id="table_row">
                                         <td>Hire Contractors</td>
                                         <td>Contractor Management</td>
                                    </tr>
                                    <tr id="table_row">
                                       <td>Offer Benefits</td>
                                       <td>Global Payroll</td>
                                    </tr>
                                    <tr id="table_row">
                                         <td>Offer Stock Options</td>
                                         <td>Remote Relocation</td>
                                    </tr>
                                    <tr id="table_row">
                                        <td>Expand Globally</td>
                                        <td>Consulting Services</td>
                                    </tr>
                                 </table>
                            </div>
                           </div>
                    </li>
                </div>
                
                <li class="col-sm-1">
                    <button id="button" class="btn btn-light">Why Remote</button>
                </li>
                <li class="col-sm-1">
                    <button id="button" class="btn btn-light">Pricing</button>
                </li>
                <li class="col-sm-2">
                    <button id="button" class="btn btn-light">Country Explorer</button>
                </li>
                <li class="col-sm-2">
                    <button id="button" class="btn btn-light">Resources</button>
                </li>
                <li class="col-sm-2">
                    <button id="button" class="btn btn-light">Partners</button>
                </li>
                <li class="col-sm-1">
                    <button class="btn btn-primary">Contact us</button>
                </li>
                <li class="col-sm-1">
                    <button class="btn btn-primary">Log in</button>
                </li>
            </ul>
        </div>
    </div>
    

<app-component1></app-component1>

</div>

<app-component2></app-component2>
